<ion-header>
        <ion-navbar>
            <ion-title>
            <ion-icon name="document"></ion-icon>
                Notes
            </ion-title>
        </ion-navbar>
      </ion-header>
      
    <ion-content padding class="card-background-page">
        <ion-card>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-item>
                <ion-select [(ngModel)]="searchType" interface="popover" item-middle>
                    <ion-option value=0 (ionSelect)="doSearchLimit(0)">时间排序</ion-option>
                    <ion-option value=1 (ionSelect)="doSearchLimit(1)">综合排序</ion-option>
                </ion-select>
            </ion-item>   
            <ion-item>
                <ion-select *ngIf="show" [(ngModel)]="limit" interface="popover">
                    <ion-option value=0 (ionSelect)="doLimit(0)">不限</ion-option>
                    <ion-option value=1 (ionSelect)="doLimit(1)">一周内</ion-option>
                    <ion-option value=2 (ionSelect)="doLimit(2)">一个月内</ion-option>
                    <ion-option value=3 (ionSelect)="doLimit(3)">一年内</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>
        <ion-card *ngFor="let note of notes">
            <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/imgs/user.jpg">
                </ion-avatar>
                <h2>{{note.author}}</h2>
                <p>{{note.submittime | date:'MMM d,y HH:mm'}}</p>
            </ion-item>
            <ion-card-header>{{note.title}}</ion-card-header>
            <ion-card-content button (click)="pushNote(note)">
                {{note.content}}
            </ion-card-content>
            <ion-col>
                <button *ngIf="note.islike" ion-button color="primary" clear small icon-start>
                    <ion-icon name='thumbs-up'></ion-icon>
                    {{note.zan}} 赞
                </button>
                <button *ngIf="!note.islike" ion-button color="dark" clear small icon-start (click)="doLike(note)">
                    <ion-icon name='thumbs-up'></ion-icon>
                    {{note.zan}} 赞
                </button>
                <button ion-button color="dark" clear small icon-start>
                    <ion-icon name='book'></ion-icon>
                    {{note.read}} 阅读量
                </button>
            </ion-col>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
      